<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsource.crm.mapper.CustomerMapper">
    <update id="update">
        UPDATE t_customer
        <set>
            <if test="name!= null and name != ''">name=#{name},</if>
            <if test="age!= null and age != ''">age=#{age},</if>
            <if test="gender!= null and gender != ''">gender=#{gender},</if>
            <if test="tel!= null and tel != ''">tel=#{tel},</if>
            <if test="email!= null and email != ''">email=#{email},</if>
            <if test="qq!= null and qq != ''">qq=#{qq},</if>
            <if test="wechat!= null and wechat != ''">wechat=#{wechat},</if>
            <if test="seller!= null">seller=#{seller.sn},</if>
            <if test="job!= null and job != ''">job=#{job},</if>
            <if test="salaryLevel!= null and salaryLevel != ''">salaryLevel=#{salaryLevel},</if>
            <if test="customerSource!= null">customerSource=#{customerSource.requence},</if>
            <if test="inputUser!= null and inputUser != ''">inputUser=#{inputUser},</if>
            <if test="inputTime!= null and inputTime != ''">inputTime=#{inputTime},</if>
            <if test="status!= null and status != ''">status=#{status},</if>
            <if test="Tenant!= null and Tenant != ''">Tenant=#{Tenant},</if>
        </set>
        WHERE id=#{id}
    </update>
    <delete id="delete">
        DELETE FROM t_customer WHERE id=#{id}
    </delete>
    <delete id="batchDelete">
        DELETE FROM t_customer WHERE id IN
        <foreach collection="list" item="i" open="(" close=")" separator=",">
            #{i.id}
        </foreach>
    </delete>
    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO t_customer(name,gender,tel,seller,customerSource)
        VALUES (#{name},#{gender},#{tel},#{seller.sn},#{customerSource.requence})
    </insert>
    <select id="selectPageByQuery" resultMap="customerResultMap">
        SELECT c.id,c.name,c.gender,c.tel,c.seller,c.status,
        i.requence irequence,i.id iid,i.name iname,i.parent_sn iparent_sn,
        e.sn ssn,e.id sid,e.username susername
        FROM t_customer c
        LEFT JOIN t_systemdictionaryitem i ON c.customerSource = i.requence
        LEFT JOIN t_employee e ON c.seller = e.sn
        <include refid="whereSql"/>
        LIMIT #{begin},#{pageSize}
    </select>
    <resultMap id="customerResultMap" type="Customer">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="tel" property="tel"/>
        <result column="status" property="status"/>
        <association property="seller" javaType="Employee">
            <id column="sid" property="id"/>
            <result column="susername" property="username"/>
            <result column="ssn" property="sn"/>
        </association>
        <!-- 查数据字典明细中查出来的值封装到实体类的customerSource属性中去 -->
        <!-- 注意这两者的属性必须一致 -->
        <association property="customerSource" javaType="SystemDictionaryItem">
            <id column="iid" property="id"/>
            <result column="irequence" property="requence"/>
            <result column="iname" property="name"/>
            <association property="parent" javaType="SystemDictionary"
                         column="iparent_sn"
                         select="cn.itsource.crm.mapper.SystemDictionaryMapper.selectByParentSn">
            </association>
        </association>
    </resultMap>
    <select id="selectAll" resultMap="customerResultMap">
        SELECT c.id,c.customerSource,c.name,
        i.requence,i.id iid,i.name iname,
        s.id did,s.sn dsn,s.name dname
        FROM t_customer c
        LEFT JOIN t_systemdictionaryitem i ON c.customerSource = i.requence
        LEFT JOIN t_systemdictionary s ON s.sn = i.parent_sn
    </select>
    <select id="selectById" resultMap="customerResultMap">
        SELECT id,name,gender,tel,seller,customerSource FROM t_customer WHERE id=#{id}
    </select>
    <select id="getTotalDataCount" resultType="long">
        SELECT COUNT(*) FROM t_customer
        <include refid="whereSql"/>
    </select>
    <sql id="whereSql">
        <where>
            <if test="status!=null and status!=''">
                AND status LIKE CONCAT("%",#{status},"%")
            </if>
        </where>
    </sql>
</mapper>