<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsource.crm.mapper.CustomerTransferMapper">
    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO t_customertransfer(customer,oldSeller,newSeller,transReason,transTime,transUser)
        VALUES
        (#{customer.name},#{oldSeller.sn},#{newSeller.sn},#{transReason},#{transTime},#{transUser.sn})
    </insert>
    <delete id="delete">
        DELETE FROM t_customertransfer WHERE id=#{id}
    </delete>
    <delete id="batchDelete">
        DELETE FROM t_customertransfer WHERE id IN
        <foreach collection="list" item="i" open="(" close=")" separator=",">
            #{i.id}
        </foreach>
    </delete>
    <select id="selectPageByQuery" resultMap="customerTransferResultMap">
        SELECT ct.id,ct.customer,ct.transTime,ct.newSeller,ct.oldSeller,ct.transReason,ct.transUser,
        c.id cid, c.name cname,
        e.id eid,e.username eusername,e.sn esn,e.realName erealName,
        e2.id e2id,e2.username e2username,e2.sn e2sn,e2.realName e2realName,
        e3.id e3id,e3.username e3username,e3.sn e3sn,e3.realName e3realName
        FROM t_customertransfer ct
        LEFT JOIN t_customer c ON c.name = ct.customer
        LEFT JOIN t_employee e ON e.sn = ct.oldSeller
        LEFT JOIN t_employee e2 ON e2.sn = ct.newSeller
        LEFT JOIN t_employee e3 ON e3.sn = ct.transUser
        <include refid="whereSql"/>
        LIMIT #{begin},#{pageSize}
    </select>
    <resultMap id="customerTransferResultMap" type="CustomerTransfer">
        <id column="id" property="id"/>
        <result column="transReason" property="transReason"/>
        <result column="transTime" property="transTime"/>
        <association property="transUser" javaType="Employee">
            <id column="e3id" property="id"/>
            <result column="e3username" property="username"/>
            <result column="e3realName" property="realName"/>
            <result column="e3sn" property="sn"/>
        </association>
        <association property="customer" javaType="Customer">
            <id column="cid" property="id"/>
            <result column="cname" property="name"/>
        </association>
        <association property="oldSeller" javaType="Employee">
            <id column="eid" property="id"/>
            <result column="eusername" property="username"/>
            <result column="erealName" property="realName"/>
            <result column="esn" property="sn"/>
        </association>
        <association property="newSeller" javaType="Employee">
            <id column="e2id" property="id"/>
            <result column="e2username" property="username"/>
            <result column="e2realName" property="realName"/>
            <result column="e2sn" property="sn"/>
        </association>
    </resultMap>
    <select id="getTotalDataCount" resultType="long">
        SELECT COUNT(*) FROM t_customertransfer
        <include refid="whereSql"/>
    </select>
    <sql id="whereSql">
        <where>
            <if test="customer!=null and customer!=''">
                AND customer LIKE CONCAT("%",#{customer},"%")
            </if>
        </where>
    </sql>
</mapper>