<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsource.crm.mapper.PotentialCustomerMapper">
    <!--添加-->
    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO t_potentialCustomer (name,customerSource,successRate,linkManTel,remark,inputTime)
        VALUES (#{name},#{customerSource.id},#{successRate},#{linkManTel},#{remark},#{inputTime})
    </insert>
    <!--删除-->
    <delete id="delete">
        DELETE FROM t_potentialCustomer WHERE id=#{id}
    </delete>
    <!--批量删除-->
    <delete id="batchDelete">
        DELETE FROM t_potentialCustomer WHERE id IN
        <foreach collection="list" item="i" open="(" close=")" separator=",">
            #{i.id}
        </foreach>
    </delete>
    <!--修改-->
    <update id="update">
        UPDATE t_potentialCustomer
        set
          name=#{name},customerSource=#{customerSource.id},
          successRate=#{successRate},linkMan=#{linkMan},
          linkManTel=#{linkManTel},remark=#{remark},inputUser_id=#{inputUser.id}
        WHERE id=#{id}
    </update>

    <resultMap id="potentialCustomerResultMap" type="PotentialCustomer">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="customerSource" column="customerSource"/>
        <result property="successRate" column="successRate"/>
        <result property="linkMan" column="linkMan"/>
        <result property="linkManTel" column="linkManTel"/>
        <result property="remark" column="remark"/>
        <result property="inputTime" column="inputTime"/>
        <association property="inputUser" javaType="Employee">
            <id property="id" column="eid"/>
            <result property="username" column="eusername"/>
            <result property="realName" column="erealName"/>
            <result property="password" column="epassword"/>
            <result property="tel" column="etel"/>
            <result property="email" column="eemail"/>
            <result property="department" column="edeptId"/>
            <result property="inputTime" column="einputTime"/>
            <result property="state" column="estate"/>
        </association>
        <association property="customerSource" javaType="SystemDictionaryItem">
            <id property="id" column="sdiid"/>
            <result property="name" column="sdiname"/>
        </association>
    </resultMap>
    <!--根据id查询-->
    <select id="selectById" resultMap="potentialCustomerResultMap">
        SELECT pc.id,pc.name,pc.successRate,pc.linkMan,pc.linkManTel,pc.remark,pc.inputTime,
        e.id eid,e.username eusername,e.realName erealName,e.password epassword,e.tel etel,
        e.email eemail,e.dept_id edeptId,e.inputTime einputTime,e.state estate,
        sdi.id sdiid,sdi.name sdiname
        FROM t_potentialCustomer pc
        LEFT JOIN t_employee e ON pc.inputUser_id=e.id
        LEFT JOIN t_systemdictionaryitem sdi ON pc.customerSource=sdi.id
        WHERE pc.id=#{id}
    </select>
    <!--查询所有-->
    <select id="selectAll" resultMap="potentialCustomerResultMap">
        SELECT pc.id,pc.name,pc.successRate,pc.linkMan,pc.linkManTel,pc.remark,pc.inputTime,
        e.id eid,e.username eusername,e.realName erealName,e.password epassword,e.tel etel,
        e.email eemail,e.dept_id edeptId,e.inputTime einputTime,e.state estate,
        sdi.id sdiid,sdi.name sdiname
        FROM t_potentialCustomer pc
        LEFT JOIN t_employee e ON pc.inputUser_id=e.id
        LEFT JOIN t_systemdictionaryitem sdi ON pc.customerSource=sdi.id
    </select>
    <!--根据条件分页查询-->
    <select id="selectPageByQuery" resultMap="potentialCustomerResultMap">
        SELECT pc.id,pc.name,pc.successRate,pc.linkMan,pc.linkManTel,pc.remark,pc.inputTime,
        e.id eid,e.username eusername,e.realName erealName,e.password epassword,e.tel etel,
        e.email eemail,e.dept_id edeptId,e.inputTime einputTime,e.state estate,
        sdi.id sdiid,sdi.name sdiname
        FROM t_potentialCustomer pc
        LEFT JOIN t_employee e ON pc.inputUser_id=e.id
        LEFT JOIN t_systemdictionaryitem sdi ON pc.customerSource=sdi.id
        <include refid="whereSql"/>
        LIMIT #{begin},#{pageSize}
    </select>
    <!--查询数据总条数-->
    <select id="getTotalDataCount" resultType="long">
        SELECT COUNT(*) FROM t_potentialCustomer pc
        <include refid="whereSql"/>
    </select>

    <!--where.条件-->
    <sql id="whereSql">
        <where>
            <if test="name!=null and name!=''">
                AND pc.name LIKE CONCAT("%",#{name},"%")
            </if>
        </where>
    </sql>
</mapper>